/* =========================
   GLOBAL RESET
========================= */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =========================
   BASE ELEMENTS
========================= */

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background: #ffffff;
  color: #032e15;
  line-height: 1.4;
}

/* =========================
   IMAGES
========================= */

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* =========================
   LINKS
========================= */

a {
  text-decoration: none;
  color: inherit;
}

/* =========================
   BUTTONS & INPUTS
========================= */

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
}

input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
}

/* =========================
   LIST RESET
========================= */

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* =========================
   ACCESSIBILITY
========================= */

:focus-visible {
  outline: 2px solid #016630;
  outline-offset: 2px;
}
